* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.search-box {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
}

:root {
  --gradient: linear-gradient(0deg,
      rgb(132, 144, 255) 0%,
      rgb(98, 189, 252) 100%);
  --font-family: "Poppins", sans-serif;
  /*? backgroun color */
  --bg-danger: #f63448;

  --text-danger: #f63448;
}

.btn-danger {
  background: var(--bg-danger);
  background-color: var(--bg-danger);
  border-radius: 10px;
  padding: 0.6rem 0.6rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* .btn {
  background: var(--gradient);
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
} */

.btn-fetch {
  background: #ffeb9c;
  color: black;
}

.btn-fetch:hover {
  background: #f0d87b;
  color: black;
}

.btn-fetch:disabled {
  background: #f0d87b;
  color: black;
}

.btn-go-fetch {
  border-radius: 0px;
  background: #000000;
  color: #ffffff;
}

.btn-go-fetch:hover {
  background: #e99f9f;
  color: black;
}

.btn-go-fetch:disabled {
  background: #e99f9f;
  color: black;
}

.btn-equ {
  padding: 0.5rem 2rem !important;
}

input {
  border: none !important;
  outline: none !important;
}

.search-box input {
  padding: 0.4rem;
  width: 100%;
}

::placeholder {
  font-size: 1.2rem !important;
}

.card img {
  height: auto;
  cursor: pointer;
}

/* .card {
  box-shadow: #000 0px 0px 5px 0px;
  padding: .4rem !important;

} */
span {
  font-size: 1.2rem;
  font-weight: 500;
}

/* .card{
  border-radius: none !important;
  padding: none !important;
} */

.card.selected {
  /* border: 2px solid blue; */
  transform: scale(1.1);
}

.card:not(.selected):hover {
  opacity: 0.7;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
  display: none;
}

.css-zxdg2z {
  padding: 0px 0 !important;
}

/* 
/* Add blue border to the selected image */
.selected-image {
  border: 2px solid blue;
}

/* Apply a hover effect */
.selected-image:hover {
  transform: scale(1.05);

  transition: transform 0.2s ease-in-out;
}

.thumbnail-bg {
  background-color: #faf3f0 !important;
}

.dimensnal-bg {
  background: #d4e2d4;
}

.ordinary-bg {
  background-color: #f4eeee;
}

.ordinary-b {
  background-color: #e99f9f;
}

.discard-bg {
  background: #f0f0f0;
}

footer {
  background: #3a4045;
  color: white;
  margin-top: 1rem;
  text-align: center;
}

footer p {
  padding: 1rem;
  font-size: 1.1rem;
}

.select-btn {
  margin-right: 1rem;
}

/* .active-button {
  border: 2px solid #F0F0F0;
  
} */

.active-button {
  border: 2px solid #006c33 !important;
}

/* eidt or save button  */

/* Add styles for the Submit button */
.btn-submit {
  background-color: #007bff;
  /* Change the background color to your desired color */
  color: white;
  /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.deselected-thumbnail {
  border: none;
}

.submit:hover {
  color: black;
  background: transparent;
  border: 1px solid #0056b3;
}

.selected-image {
  position: relative;
}

.selected-image::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3c8af5;
  font-size: 80px;
  font-weight: bold;
  transition: all 0.3s linear;
  z-index: 1000;
}

.selected-image img {
  opacity: 0.2;
}

.btn-click {
  margin-bottom: 0.7rem;
}

.edit {
  background: #f63448 !important;

  padding: 0.2rem 0.4rem !important;
  font-size: 0.9rem;
}

.save {
  background: green !important;

  padding: 0.2rem 0.4rem !important;
  font-size: 0.9rem;
}

/* Style for the disabled button */
.btn-danger.disabled {
  background-color: #d9534f;
  color: #fff;
}

.btn-danger.disabled:hover {
  border: 1px solid #3a4045;
}

/* Style for the active/enabled button */
.btn-danger:not(.disabled) {
  background-color: gray;
  /* Light gray background color */
  color: #ccc;
  /* Light gray text color */
  cursor: not-allowed;
  /* White text color for active/enabled button */
}

/* corss  */
.cross {
  background-color: inherit;
  /* background: transparent !important; */
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.card {
  border-radius: 0% !important;
  padding: 0;
}

#set-btn-submit {
  width: 126px;
  background-color: #438d6b;
  color: #fff;
  height: 42px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 800;
}

/* for testing  */